:root{
    /* Primary */

    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    /* Neutral */

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card{
    background-color: var(--White);
    width: 21rem;
    border-radius: 1rem;
    overflow: hidden;

}

.card__img--mobil{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card__sumary{
    padding: 1rem 1.5rem;
    position: relative;
}

.card__sumary--text{
    letter-spacing: .3rem;
}

.card__sumary--title{
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}


.card__sumary--font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
}

.card__sumary--paragraph{
    font-size: .8rem;
    line-height: 1.5rem;
    margin-bottom: 3.5rem;
}

.card__sumary--price{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--Dark-cyan);
}

.card__sumary--discount{
    position: absolute;
    bottom: 7.5rem;
    left: 13rem;
    text-decoration: line-through;
}

.card__sumary--link::before{
    content: url("../images/icon-cart.svg");
    zoom: 1.2;
    margin-right: .5rem;
}

.card__sumary--link{
    display: inline-block;
    text-decoration: none;
    background-color: var(--Dark-cyan);
    color: var(--White);
    margin: 1rem 0;
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem 1rem;
    width: 100%;
    border-radius: .5rem;
    /* font-weight: 700; */
}

@media screen and (min-width: 1400px){
    .card{
        display: flex;
        width: 37rem;
        height: 28rem;
    }

    .card__sumary{
        width: 18.5rem;
    }

    .card__img{
        width: 19rem;
        position: relative;
        height: 100%;
    }

    .card__img--mobil{
        width: 0;
    }

    .card__img--desktop{
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
    }

    .card__sumary--paragraph{
        margin-bottom: 1.2rem;
        font-size: .9rem;
    }

    .card__sumary--discount{
        bottom: 6.5rem;
    }
    
}